<div style="margin-bottom: 6em; clear: both;">
  <div style="float: {{ include.position }}; margin-right: 1em">
    <img src="{{ include.image_path }}" alt="">
  </div>
  <div>
    <h2 style="border-bottom: none">{{ include.title }}</h2>
    {{ include.description | markdownify }}
  </div>
</div>
